@import 'settings';
@import 'partials/mixins/placeholder';
@import 'base/reset';
@import 'base/icons';
@import 'foundation';

@import 'partials/blocks/header';

//@include foundation-everything(true)
//@include foundation-global-styles;
@include foundation-flex-grid();
@include foundation-flex-classes;
//@include foundation-typography-base;
//@include foundation-typography;
//@include foundation-table;
//@include foundation-visibility-classes;
//@include foundation-breadcrumbs;


* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}