.header {
  &__location {
    span {
      background-image: svg-load('local.svg');
    }
  }
}

.product__buy:before, .header__cart:before {
  background-image: svg-load('cart.svg');
}

.product__favorites, .header__favorites {
  background-image: svg-load('favorite.svg');
  @include breakpoint(large) {
    &:hover {
      background-image: svg-load('favoriteHover.svg');
    }
  }
}

.product__compare, .header__compare {
  background-image: svg-load('compare.svg');
  @include breakpoint(large) {
    &:hover {
      background-image: svg-load('compareHover.svg');
    }
  }
}

.filter__name {
  background-image: svg-load('filterMinus.svg');
  &.no-active {
    background-image: svg-load('filterPlus.svg');
  }
}

.search {
  &__submit {
    background-image: svg-load('search.svg');
  }
  &__field:focus + &__submit, &__field:active + &__submit {
    background-image: svg-load('search-active.svg');
  }
}

.callback {
  background-image: svg-load('phone.svg');
}

.footer__menu--three  nav > a {
  background-image: inline('payment.png');
}

select {
  background-image: inline('select.png');
}

.menu {
  > li {
    &:first-child {
      background-image: svg-load('humb.svg');
      > ul > li {
        background-image: svg-load('menu.svg');
      }
    }
    &:nth-child(2) {
      background-image: svg-load('discount.svg');
    }
  }
}

.slick-prev, .slick-prev:hover, .slick-next, .slick-next:hover {
  background-image: inline('back.png');
}

.information {
  &__title {
    background-image: svg-load('information.svg');
  }
}

.follow__info {
  background-image: svg-load('telegram.svg');
}

.product {
  .slick-next, .slick-prev {
    background-image: inline('next.png');
  }
}

.sort__tabs {
  li:first-child {
    background-image: svg-load('sort1.svg');
  }
  li:last-child {
    background-image: svg-load('sort2.svg');
  }
}

.info__category--mobile {
  background-image: svg-load('sel.svg');
}



//adaptive
@include breakpoint(small down) {
  .footer__menu--title {
    background-image: svg-load('plus.svg');
    &.active {
      background-image: svg-load('minus.svg');
    }
  }
  .catalog {
    &__name {
      background-image: svg-load('catIcon.svg');
    }
  }
}