.header {
  &__location {
    span {
      background-image: svg-load('local.svg');
    }
  }
}

.product__buy:before, .header__cart:before, .card__info--add:before {
  background-image: svg-load('cart.svg');
}

.product__favorites, .header__favorites {
  background-image: svg-load('favorite.svg');
  @include breakpoint(large) {
    &:hover {
      background-image: svg-load('favoriteHover.svg');
    }
  }
}

.product__compare, .header__compare {
  background-image: svg-load('compare.svg');
  @include breakpoint(large) {
    &:hover {
      background-image: svg-load('compareHover.svg');
    }
  }
}

.filter__name {
  background-image: svg-load('filterMinus.svg');
  &.no-active {
    background-image: svg-load('filterPlus.svg');
  }
}

.search {
  &__submit {
    background-image: svg-load('search.svg');
  }
  &__field:focus + &__submit, &__field:active + &__submit {
    background-image: svg-load('search-active.svg');
  }
}

.callback {
  background-image: svg-load('phone.svg');
}

.footer__menu--three  nav > a {
  background-image: inline('payment.png');
}

select {
  background-image: inline('select.png');
  &.personal__select {
    background-image: svg-load('personalSelect.svg');
  }
}

span.personal__important {
  background-image: svg-load('important.svg');
  box-sizing: border-box
}

.menu {
  > li {
    &:first-child {
      background-image: svg-load('humb.svg');
      > ul > li {
        background-image: svg-load('menu.svg');
      }
    }
    &:nth-child(2) {
      background-image: svg-load('discount.svg');
    }
  }
}

.slick-prev, .slick-prev:hover, .slick-next, .slick-next:hover {
  background-image: inline('back.png');
}

.information {
  &__title {
    background-image: svg-load('information.svg');
  }
}

.follow__info {
  background-image: svg-load('telegram.svg');
}

.product, .slider-nav {
  .slick-next, .slick-prev {
    background-image: inline('next.png');
  }
}

.sort__tabs {
  li:first-child {
    background-image: svg-load('sort1.svg');
  }
  li:last-child {
    background-image: svg-load('sort2.svg');
  }
}

.info__category--mobile {
  background-image: svg-load('sel.svg');
}

.slider__zoom:before {
  background-image: svg-load('zoom.svg');
}

.card__img span.new {
  background-image: inline('new.png');
}

.quantity-nav {
  background-image: inline('plus-minus.png');
}

.shipping__title:after {
  background-image: svg-load('shipping.svg');
}

.garanty__title:after {
  background-image: svg-load('garanty.svg');
}

.tabs-cart1 {
  background-image: svg-load('cartIcon1.svg');
  &.is-active {
    background-image: svg-load('cartIconActive1.svg');
  }
}

.tabs-cart2 {
  background-image: svg-load('cartIcon2.svg');
  &.is-active {
    background-image: svg-load('cartIconActive2.svg');
  }
}

.tabs-cart3 {
  background-image: svg-load('cartIcon3.svg');
  &.is-active {
    background-image: svg-load('cartIconActive3.svg');
  }
}

.product__del {
  background-image: svg-load('delete.svg');
}

.link-back {
  background-image: svg-load('backk.svg');
}

.link-add {
  background-image: svg-load('addd.svg');
}

//adaptive
@include breakpoint(small down) {
  .footer__menu--title, .tab__item > span {
    background-image: svg-load('plus.svg');
    &.active {
      background-image: svg-load('minus.svg');
    }
  }
  .catalog {
    &__name {
      background-image: svg-load('catIcon.svg');
    }
  }
}