.follow
  .column.flex.jcsb.aic
    .follow__info
      .follow__info--title Будьте в курсе
      .follow__info--text Подпишитесь на наши обновления и узнавайте о новинках и акциях первыми!
    form.follow__form.flex.jcsb
      input.follow__form--text(type="text", placeholder="Введите Ваш e-mail")
      input.follow__form--submit.mainButtons(type="submit", value="Подписаться")