.menu
  .row
    .multilevelOverlay.js-overlay
    nav.column.menu__wrapper
      ul.flex.jcsb.menu
        li
          a(href="#") Каталог товаров
          ul
            li: a(href="#") Отопление
            li
              a(href="#") Водоснабжение и подогрев
              ul
                li: a(href="#") Обогреватели
                li
                  a(href="#") Предохранительная арматура
                  ul
                    li: a(href="#") Термоманометры
                    li: a(href="#") Термометры биметаллические
                    li: a(href="#") Манометры
                    li: a(href="#") Воздухоотводчики
                    li: a(href="#") Редукторы давления
                    li: a(href="#") Перепускные клапаны
                    li: a(href="#") Предохранительные клапаны
                    li: a(href="#") Группы безопасности
                    li: a(href="#") Деаэраторы
                    li: a(href="#") Грязеуловители (дешламаторы)
                li: a(href="#") Радиаторы отопления (батарея)
                li: a(href="#") Расширительные баки
                li: a(href="#") Котлы отопления
                li: a(href="#") Полотенцесушителя
                li: a(href="#") Котельное оборудование
                li: a(href="#") Трубы и фитинги
                li: a(href="#") Конвекторы
                li: a(href="#") Регулирующая арматура
                li: a(href="#") Теплотрассы
                li: a(href="#") Теплоноситель для системы отопления
                li
                  a(href="#") Запорная арматура
                  ul
                    li: a(href="#") Термоманометры
                    li: a(href="#") Термометры биметаллические
                    li: a(href="#") Манометры
                    li: a(href="#") Воздухоотводчики
                    li: a(href="#") Редукторы давления
                    li: a(href="#") Перепускные клапаны
                    li: a(href="#") Предохранительные клапаны
                    li: a(href="#") Группы безопасности
                    li: a(href="#") Деаэраторы
                    li: a(href="#") Грязеуловители (дешламаторы)
            li: a(href="#") Канализация и дренаж
            li: a(href="#") Тепло- и шумоизоляция
            li: a(href="#") Инструмент и крепеж
            li: a(href="#") Электрика и свет
            li: a(href="#") Сантехника
        li: a(href="#") Акции
        li: a(href="#") О компании
        li: a(href="#") Доставка и оплата
        li: a(href="#") Гарантия
        li: a(href="#") Бренды
        li: a(href="#") Контакты