.follow {
  input[type="submit"] {
    border-radius: $bigBr;
    cursor: pointer
  }
}

.mainButtons {
  @extend %button;
  transition: 0.25s ease all;
  @include breakpoint(large) {
    &:hover {
      background: #ff4f00;
    }
  }
}
