block header
  header.header
    .header__top
      .row.flex.jcsb.aic
        a.column.small-7.header__logo.logo(href="/")
          img(src="assets/img/logo.png")
        .column.large-2.header__location
          span
            | Ваш город: 
            a(href="#") Москва
        .column.large-5.medium-8.small-4.flex.jcsb.aic.header__info
          a.header__favorites.favorites(href="#") Избранное
            span#favorites__count 5
          a.header__compare(href="#") Сравнение
          .header__cart Корзина
            a(href="#")
              span#header__cart--count 5
            .header__products
              ul.header__products--list
                li.header__products--item
                  a(href="#")
                    span.header__products--imgWrap
                      img(src="assets/img/cartImg.jpg", alt="")
                    span.header__products--name Коллектор котельной разводки с гидрострелкой WOODSTOKE 300 на 3 контура
              .header__products--price.flex.jcsb
                span Всего к оплате (руб.)
                span.header__products--priceCount 9750
              a.mainButtons(href="#") Перейти в корзину
    .header__main
      .row.flex.jcsb.aic
        a.column.large-3.medium-3.header__logo.logo(href="/")
          img(src="assets/img/logo.png")
        .header__button
          span.toggle.js-toggle
            span
              em
              em
              em
        form.column.large-5.header__search.search(action="")
          input.search__field(placeholder="Поиск товара" type="text")
          input.search__submit(type="submit" value="")
        .column.large-2.header__contacts
          a.header__tel.tel(href="tel:+74996382929") 8 (499) 638-29-29
          a.header__callback.callback.js-formShow(href="#callback__form")
            span Обратный звонок