%linkNone {
  text-decoration: underline;
  &:hover {
    @include breakpoint(large) {
      text-decoration: none;
    } 
  }  
}

%linkUnder {
  text-decoration: none;
  &:hover {
    @include breakpoint(large) {
      text-decoration: underline;
    } 
  }  
}

%opacity {
  &:hover {
    @include breakpoint(large) {
      opacity: 0.8;
    } 
  }
}

%borderNone {
  &:hover {
    @include breakpoint(large) {
      border: none;
    } 
  }
}

%line {
  position: relative;
  padding-bottom: rem-calc(10);
  &:after {
    width: 2.313rem;
    height: 0.313rem;
    background-color: $buttonBorder;
    background-image: linear-gradient(-10deg, $buttonOne 0%, $buttonTwo 100%);
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
  }
}

%blockLarge {
  @include breakpoint(large down) {
    & {
      display: block;
      > div {
        width: 100%;
        margin-bottom: rem-calc(20);
        margin-right: 0;
        margin-left: 0;
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    } 
  }
}

%blockMedium {
  @include breakpoint(small down) {
    & {
      display: block;
      > div {
        width: 100%;
        margin-bottom: rem-calc(20);
        margin-right: 0;
        margin-left: 0;
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    } 
  }
}

%italic {
  color: #4c8eda;
  font-family: $fontTwo, Arial, sans-serif;;
  font-size: 0.875rem;
  font-style: italic;
  border-bottom: 1px dotted;
  text-decoration: none;
  font-weight: 400;
  display: inline-block;
  height: 21px;
  box-sizing: border-box;
  @include breakpoint(large) {
    &:hover {
      border-bottom: 1px transparent;
      height: 21px;
    }
  }
}

%button {
  background-color: $buttonBorder;
  background-image: linear-gradient(-10deg, $buttonOne 0%, $buttonTwo 100%);
  color: $white;
  border: none;
}