include ../partials/blocks/breadcrumbs.pug
doctype
html(lang='ru')
  head
    block head
      include ../partials/head.pug
  body
    block header
      include ../partials/header.pug
    block menu
      include ../partials/blocks/menu.pug
    block content
      .content
        .row.breadcrumbs__wrapper
          .column
            nav.breadcrumbs
              a(href="/") Главная 
              a(href="#") Каталог 
              span Отопление
            h1 Отопление
        .row
          .content__inner.flex.jcsb.column
            aside.leftCol
              include ../partials/blocks/leftFilter.pug
            main
              block main
          .content__text.column
            h2 TermoStok.ru – ведущие бренды по привлекательным ценам ОПТОМ и в РОЗНИЦУ
            p.
              Покупка сантехнического оборудования — задача не из простых, учитывая высокие требования к качественным характеристикам и большой ассортимент этой группы товаров. Однако, независимо от того, затеян капитальный ремонт помещения, возводится ли дом «с нуля», или просто возникла необходимость замены какого-либо из уже имеющегося сантехнического оборудования, рядовому потребителю ни за что не разобраться самостоятельно в огромном ассортименте предлагаемой на сегодняшний день продукции.
            p.
              Покупка сантехнического оборудования — задача не из простых, учитывая высокие требования к качественным характеристикам и большой ассортимент этой группы товаров. Однако, независимо от того, затеян капитальный ремонт помещения, возводится ли дом «с нуля», или просто возникла необходимость замены какого-либо из уже имеющегося сантехнического оборудования, рядовому потребителю ни за что не разобраться самостоятельно в огромном ассортименте предлагаемой на сегодняшний день продукции.
            p.
              Здесь вы найдете то, что искали!
          block follow
            include ../partials/blocks/follow.pug

    block footer
      include ../partials/footer.pug