include ../partials/blocks/breadcrumbs.pug
doctype
html(lang='ru')
  head
    block head
      include ../partials/head.pug
  body
    block header
      include ../partials/header.pug
    block menu
      include ../partials/blocks/menu.pug
    block content
      .content
        main
          block main
    block footer
      include ../partials/footer.pug
